[run]
branch = True
source = backend
omit =
    */__init__.py
    */venv/*
    */tests/*

[report]
fail_under = 85
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    except ImportError

[xml]
output = coverage.xml
